.header {
  background-color: #f1f1f1;
  padding: 20px 10px;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  font-family: 'Jost';

}


.header input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 50px;
  font-size: 17px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #3B2E2D;
  color: white;
}

.header-right {
  float: right;
  padding-right: 40px;
}

main {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 140px;
  font-family: 'Jost';
}

.clothes {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  box-sizing:content-box;
  margin: 10px;
  padding: 5px;
  width: 25vw;
  font-family: 'Jost';
  text-align: left;
  padding-bottom: 40px;
}

.clothes:hover {
  box-shadow: 3px 1px 10px 5px gainsboro;
}

.clothes > img {
max-width: 100%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

footer {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-family: 'Jost';
  padding: 40px;
  
}

.sidenav {
  width: 160px; 
  padding-top: 150px;
  font-family: 'Jost';
  font-size: xx-small;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color:black;
}

.quickview {
  border: 1px solid gainsboro;
  padding: 3px 20px 3px 20px;
  background: transparent;
  color: #767676;
  letter-spacing: 0.07rem;
  font-family: 'Jost';
}

.quickview:hover {
  border: 1px solid white;
  background-color: #f0f0f0;
}


li {

  list-style-type: none
}